.aboutWrapper {
   display: block;
   overflow-y: scroll;

   height: 700px;
   margin: 0 0 0 15px;
   padding: 30px;

   background-color: white;
}

.aboutWrapper::-webkit-scrollbar {
    width: 12px;
}

.aboutWrapper::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

.aboutWrapper::-webkit-scrollbar-track {
    background-color: #555;
}

section {
	display: none;

	width: 85%;
	height: 500px;
	margin: 0 auto;
	}

section div {
	padding: 30px;
}

p {
    padding-bottom: 30px;

    font-family: Quest;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.btn {
	position: relative;
	top: 20px;

	display: block;

	width: 170px;
	height: 30px;
	margin: 15px;
	margin-bottom: 30px;
    padding: 10px 20px 10px 20px;

	list-style: none;

	cursor: pointer;
	text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 8px;
    background: rgb(148,148,148);

	font-family: Sidebar;
    font-size: 20px;
}

.btn:hover {
	top: 10px;

    background: #34ff9c;
	box-shadow: 0px 10px 0px #00db6e;
}

.btn a, .btn a:visited {
	text-decoration: none;

	color: white;
}

.btn:hover a, .btn a:hover {
	color: #003f20;
}

.text_container {
   display: block;
}

@media screen and (max-width: 600px){
    .aboutWrapper {
        margin: 0;
    }

}
.paginator {
    display: flex;
    flex-direction: row;

    margin-bottom: 15px;

    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;

    font-family: Quest;
}