.aboutWrapper {
   width: 70%;
   height: 700px;
   overflow-y: scroll;
   display: block;
   text-align: center;
   margin: 15px 15px 0px 15px;
}

.btn {
   display: inline-block;
   border-radius: 3px;
   font-family: MainText;
   color: #ffffff;
   font-size: 20px;
   background:  #0073A5;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#paginator-btn li {
    margin: 5px;
    list-style: none;
    text-align: center;
    background-color: #0073A5;
    margin-right: 10px;
    width: 165px;
    line-height: 15px;
    text-decoration: none;
    border-radius: 2px;
}
.pagination-links {
   display: block;
   width: 100%;
}

.text_container {
   display: block;
}
