.aboutWrapper {
   display: block;
   background-color: white;
   height: 700px;
   overflow-y: scroll;
   display: block;
   text-align: center;
   margin: 0 0 0 15px;
   padding: 30px;
}

.aboutWrapper::-webkit-scrollbar {
    width: 12px;
}

.aboutWrapper::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

.aboutWrapper::-webkit-scrollbar-track {
    background-color: #555;
}

.wrapper {
    background-color: white;
    height: 700px;
    display: flex;
}
p {
    font-family: "Arial";
    padding-bottom: 30px;
}
.btn {
   display: inline-block;
   border-radius: 3px;
   font-family: MainText;
   color: #ffffff;
   font-size: 20px;
   background: #0073A5;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#paginator-btn li {
    margin: 5px;
    list-style: none;
    text-align: center;
    background-color: #0073A5;
    margin-right: 10px;
    width: 165px;
    line-height: 15px;
    text-decoration: none;
    border-radius: 2px;
}
.pagination-links {
   display: block;
   width: 100%;
}

.text_container {
   display: block;
}

@media screen and (max-width: 600px){
    .aboutWrapper {
        margin: 0;
    }
}
