.profile-photo {
    width: 135px;
    height: 135px;
    margin: 15px;

    background-image: url("../images/footer_github.png");
    background-size: 135px 135px;
}

.player {
    display: flex;
    flex-direction: row;

    margin: 20px;

    font-family: Sidebar;
    font-size: 15px;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}


p {
    font-family: Sidebar;
    font-size: 45px;
    line-height: 200px;
}

.username {
    padding-top: 140px;

    word-wrap: break-word;

    font-size: 20px;
}

.score {
    display: flex;

    width: 150px;
    margin-top: 25px;

    font-family: Sidebar;
    font-size: 27px;

    justify-content: space-around;
}

.point {
	display: block;

	width: 20px;
	height: 20px;

	border-radius: 10px;
	background-image: url("../images/tick.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.player:nth-last-child(1) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
    .player {
        flex-direction: column;
    }
    .player:nth-last-child(1) {
        flex-direction: column;
    }
}


/*The god code starts from here!!!!!!!!*/
.battle {
   width: 95%;
   margin: auto;
   padding-bottom: 70px;

   border: 2px solid black;
}

.line {
   z-index: 1;

   min-height: 50px;

   border-bottom: 1px solid black;
}

.q {
   z-index: 2;

   width: 70%;
   margin: auto;
   margin-top: -30px;
   padding: 20px;

   text-align: center;

   border: 1px solid black;
   border-radius: 15px;
   background-color: white;
}

.a {
   z-index: 2;

   float: left;

   width: 30%;
   margin-top: -30px;
   padding: 20px;

   cursor: pointer;
   text-align: center;

   border: 1px solid black;
   border-radius: 15px;
   background-color: white;
}

.a:hover{
   color: white;
   background-color: black;
}

.a1, .a3 {
   margin-right: 10%;
   margin-left: 10%;
}
