h1, h2, select {
    font-family: Quest;
    text-align: center;
}

select {
    width: 80%;
    font-size: 25px;
}

option {
    text-align: center;
}

.wrapper {
    align-items: center;
    padding: 20px;
}

.btn {
    width: 80%;
    font-family: Quest;
}
