.profile-photo {
    width: 135px;
    height: 135px;
    margin: 15px;

    background-image: url("../images/footer_github.png");
    background-size: 135px 135px;
}

.displayOpt {
	display: flex;
	flex-direction: row;

	list-style: none;

	font-family: Quest;

	flex-wrap: wrap;
	justify-content: center;
}

.opt{
	display: block;

	width: 150px;
	height: 40px;
	margin: 10px 20px;

	text-align: center;

	color: black;

	line-height: 40px;
}

.opt a {
	position: relative;
	top: 0px;

	display: block;

	width: 100%;
	height: 100%;

	text-decoration: none;

	color: #FFF;
	border-radius: 7px;
	background: rgb(148, 148, 148);
}

.opt a:hover {
	top: -10px;

	color: #003f20;
	background-color: #34ff9c;
	box-shadow: 0px 10px 0px #00db6e;
}

.opponentInfo {
	display: flex;
	flex-direction: column;

	justify-content: flex-start;
}

.userName, .names {
	display: block;

	text-align: center;
}

.player {
    display: flex;
    flex-direction: row;

    margin: 20px;

    font-family: Sidebar;
    font-size: 15px;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.title {
	margin-bottom: 20px;

	font-family: Quest;
}

.username {
    padding-top: 140px;

    word-wrap: break-word;

    font-size: 20px;
}

.score {
    display: flex;

    width: 150px;
    margin-top: 25px;

    font-family: Sidebar;
    font-size: 27px;

    justify-content: space-around;
}

.point {
	display: block;

	width: 20px;
	height: 20px;

	border-radius: 10px;
	background-image: url("../images/tick.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.player:nth-last-child(1) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
    .player {
        flex-direction: column;
    }
    .player:nth-last-child(1) {
        flex-direction: column;
    }
}


/*The god code starts from here!!!!!!!!*/
.battle {
   width: 95%;
   margin: auto;
   padding-bottom: 70px;

   border: 2px solid black;
}

.line {
   z-index: 1;

   min-height: 50px;

   border-bottom: 1px solid black;
}

.q {
   z-index: 2;

   width: 70%;
   margin: auto;
   margin-top: -30px;
   padding: 20px;

   text-align: center;

   border: 1px solid black;
   border-radius: 15px;
   background-color: white;
}

.a {
   z-index: 2;

   float: left;

   width: 30%;
   margin-top: -30px;
   padding: 20px;

   cursor: pointer;
   text-align: center;

   border: 1px solid black;
   border-radius: 15px;
   background-color: white;
}

.a:hover{
   color: white;
   background-color: black;
}

.a1, .a3 {
   margin-right: 10%;
   margin-left: 10%;
}

.opponents {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;

	width: 50%;
	max-height: 600px;
	margin: 0 auto;

	list-style: none;
}

.user, .user:visited {
	position: relative;

	display: block;

	width: 95%;
	min-width: 300px;
	height: 30px;
	margin:0 auto 15px auto;
	padding-left: 10px;

	text-decoration: none;

	color: #FFF;
	border-radius: 5px;
	background: rgb(148, 148, 148);

	font-family: Quest;
	font-size: 20px;
	line-height: 30px;
}

.user span {
	position: relative;

	float: right;

	padding-right: 10px;

	transition: all 0s;
}

.user:hover {
	color: #003f20;
	background-color: #34ff9c;
}