.wrapper {
	font-family: Quest;}

.wrapper h3 {
	display: block;

	width: 100%;
	margin: 15px 0 15px 0;

	text-align: center;

	font-size: 30px;
}

.wrapper h5 {
	display: block;

	width: 100%;

	text-align: center;

	border-bottom: 1px solid black;

	font-size: 25px;
}

.languages {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	font-size: 30px;
}


.lang-options {
	display: flex;
	flex-direction: row;

	width: 100%;
	height:60px;

	transition: color 0.5s, background-color 0.5s;
	text-decoration: none;

	color: rgb(92, 92, 92);

	line-height: 60px;
}

.lang-options:nth-child(even) {
	background-color: rgba(195, 195, 195, 0.7);
}
.lang-options:hover .lang-options-p{
	color: black;
}
.lang-options:hover {
	color: #003f20;
	background: #34ff9c;
}
.lang-options:visited {
	color: rgb(92, 92, 92);
}

.lang-options-p {
	position: relative;

	display: block;

	width: 20%;
	min-width: 150px;
	padding-left: 20px;

	transition: color 0.5s, background-color 0.5s;
}

.meter_container {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 80%;
	height: 100%;

	justify-content: space-around;
}

.meter {
	position: absolute;

	display: block;

	width: 98%;
	height: 50%;

	transition: background-color 0.5s;

	background-color: #777777;;}

.lang-options:hover .meter {
	background-color: rgb(99, 99, 99);
}

.meterFill {
	position: relative;

	display: block;
	overflow: hidden;

	width: 0%;
	height: 100%;

	background-color: #0E0;
}

.lang-options:hover .meter_container .meter .meterFill {
	border-right: 2px solid #000;
}
