.clanAvatarHolder {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 25vw;
	margin: 15px auto;

	justify-content: space-around;
}

.clanAvatar {
	display: block;

	width: 23vw;
	height: 23vw;
	margin: 0 auto;

	transition: width 0.5s,
				height 0.5s;

	border-radius: 50%;
}

.clanAvatar:hover {
	width: 25vw;
	height: 25vw;
}

.inbox {
	position: absolute;
	top: -25vw;
	right: 10px;

	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;

	width: 300px;
	height: 350px;
;}

.inbox ul {
	list-style: none;
}

.first {
	display: block;

	width: calc(100% - 2px);

	border: 1px solid black;

	font-family: Quest;
	line-height: 25px;
}

.veil {
	display: none;

	height: 0px;

	transition: height 5s;
}

ul:active .veil,
ul:focus .veil,
ul:hover .veil,
.veil:hover {
	display: block;
}

.request {
	padding-top: 10px;

	border: 1px solid black;
}

.requestContents {
	display: block;

	width: 230px;
	margin: 0 auto;

	font-family: Quest;
}

.target {
	display: block;

	text-transform: uppercase;
}

.answers {
	display: flex;

	width: 100%;

	justify-content: space-around;
}

.answerButton {
	display: block;

	width: 150px;
	height: 30px;
	margin: 15px 10px;

	border-radius: 15px;
	border-image:url('../images/Border.png') 55 round;
	border-image-width:25px;
	border-image-outset: 2px;

	font-family: Quest;
}

.accept, .deny {
	transition: background-color 0.5s;
}

.accept:hover {
	background-color: rgb(24, 191, 36);
}

.deny:hover {
	background-color: rgb(232, 28, 28);
}

.clanInfo {
	position: relative;

	display: block;
	float: right;

	width: 100%;

	text-align: center;
}

.clanName {
	display: block;

	width: 150px;
	margin: 15px auto;

	font-family: Text;
	font-size: 40px;
	line-height: 50px;
}

.clanDesc {
	overflow-y: auto;

	max-height: 200px;
	margin-bottom: 30px;
	padding: 20px 30px;

	word-wrap: break-word;

	border-top: 3px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;

	font-family: Text;
	font-size: 18px;
}

.members {
	display: block;
	overflow-y: auto;

	width: 80%;
	height: auto;
	max-height: 300px;
	margin: 0 auto;
	margin-bottom:  30px;

	list-style: none;

	text-align: left;

	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.member {
	padding: 0 20px;

	border-top: 1px solid black;

	font-family: Quest;
	line-height: 50px;
}

.member a {
	float:right;

	text-decoration: none;
}

.members::-webkit-scrollbar {
	width: 12px;
}

.members::-webkit-scrollbar-track {
	background-color: #EEE;
}

.members::-webkit-scrollbar-thumb {
	background-color: #999;
}

.members::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

#chat {
	display: flex;
	overflow-y: auto;
	flex-direction: column-reverse;

	height: 400px;
	margin: 0 auto;

	list-style: none;

	font-family: Sidebar;
}

#chat::-webkit-scrollbar {
	width: 12px;
}

#chat::-webkit-scrollbar-track {
	background-color: #EEE;
}

#chat::-webkit-scrollbar-thumb {
	background-color: #999;
}

#chat::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

.chatLog {
	display: flex;
	flex-direction: row;

	min-height: 50px;

	text-align: left;

	border: 1px solid black;
}

.user {
	display: block;

	width: 25%;
	height: auto;
	padding-top: 20px;

	text-align: center;

	border-right: 1px solid black;

	font-weight: bolder;
}

.message {
	display: block;

	width: 80%;
	height: 100%;
	padding-top: 10px;
	padding-left: 5px;

	font-size: 15px;
}

.messageInput {
	margin: 20px;
}

@media screen and (max-width:800px) {
	.user {
		width: 20%;
	}
}

@media screen and (max-width:1000px) {
	.inbox {
		position: relative;
		top: 0;
		right: 0;

		width: calc(100% - 10px);
		height: 140px;
	}
	
	.veil {
		display: block;
	}
	
	.answers {
		width: 100%;
	}
	
	
}

input[type=text] {
	display: inline-block;

	width: 85%;
	height: 30px;
	margin: 0 0 0 3vw;
	padding: 10px;
}

input[type=button] {
	display: inline-block;

	margin: 0;

	line-height: 30px;
}