.imageContainer {
	padding-bottom: 20px;

	text-align: center;

	background: url("../images/backgrounds/clan.jpg");
	background-position: center;
	background-size: 100% 150%;
}

.clanAvatarHolder {
	display: flex;
	overflow: hidden;
	flex-direction: row;

	width: 300px;
	height: 300px;
	margin: 0 auto;

	border-radius: 50%;

	justify-content: center;

}

.clanAvatarHolder:hover {
	transform: rotate(-10deg);

	box-shadow: 0px 0px 40px #000;
}

.clanAvatar {
	display: block;

	height: 100%;
	margin: 15px auto;

	transition: width 0.5s,
				height 0.5s;

}


.inbox {
	position: absolute;
	top: 10px;
	left: 10px;

	display: block;
	overflow-x: hidden;
	overflow-y: auto;

	width: 300px;

	text-align: center;

;}

.inbox:hover {
	height: 350px;
}

.inbox ul {
	list-style: none;
}

.first {
	display: block;

	width: 100%;

	color: black;
	border-radius: 5px 5px 0 0 ;
	background: #fff;

	font-family: Quest;
	line-height: 25px;
}

.first:hover, .inbox:hover .first{
	color: #003f20;
	background-color: #34ff9c;
}

.veil {
	display: none;

	height: 0px;

	transition: height 5s;
}

ul:active .veil,
ul:focus .veil,
ul:hover .veil,
.veil:hover {
	display: block;
}

.request {
	padding-top: 10px;

	color: black;
	background: white;
}

.requestContents {
	display: block;

	width: 100%;
	margin: 0 auto;

	font-family: Quest;
}

.target {
	display: block;

	text-transform: uppercase;
}

.requestusername:link, .requestusername.hover, .requestusername:visited {
	text-decoration: none;

	color: black;
}

.requestusername:hover {
	color: #0073A5;
}

.editPageButton {
	position: absolute;
	top: 15px;
	right: 0;

	display: block;

	width: 130px;
	height: 40px;
	margin-top: 15px;
	margin-right: 15px;

	text-align: center;
	text-decoration: none;

	color: #FFF;
	border: 0;
	border-radius: 7px;
	background: rgb(148, 148, 148);

	font-family: Quest;
	line-height: 40px;
}

.editPageButton:hover {
	top: 5px;

	color: #003f20;
	background-color: #34ff9c;
	box-shadow: 0px 10px 0px #00db6e;
}

.answers {
	display: flex;

	width: 100%;

	justify-content: space-around;
}

.answerButton {
	display: block;

	width: 150px;
	height: 30px;
	margin: 15px 10px;

	border-radius: 15px;
	border-image:url('../images/Border.png') 55 round;
	border-image-width:25px;
	border-image-outset: 2px;

	font-family: Quest;
}

.accept, .deny {
	transition: background-color 0.5s;
}

.accept:hover {
	background-color: rgb(24, 191, 36);
}

.deny:hover {
	background-color: rgb(232, 28, 28);
}

.clanInfo {
	position: relative;

	display: block;
	float: right;

	width: 100%;
	margin-top: 20px;

	text-align: center;
}

.clanName {
	display: inline-block;

	margin: 15px auto;

	font-family: Text;
	font-size: 40px;
}

.clanName:hover {
	font-size: 50px;
}

.clanDesc {
	display: block;
	overflow-y: auto;

	width: 80%;
	max-height: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px 30px;

	text-align: center;
	word-wrap: break-word;

	border-top: 3px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;

	font-family: Text;
	font-size: 18px;
}

.clanMembers {
	position: relative;

	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;

	width: 70%;
	min-height: 100px;
	max-height: 350px;
	margin: 10px auto;

	border-top: 2px solid black;
	border-left: 2px solid black;
	border-radius: 10px 0 0 0;
}

.clanMember {
	display: flex;
	flex-direction: row;

	height: 70px;
	padding-left: 15px;

	border-bottom: 1px solid black;

	font-family: Quest;
	line-height: 70px;
}

.clanMember a, .clanMember a:visited {
	display: block;

	height: 100%;
	margin: 0 0 0 auto;
	padding-right: 15px;

	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	color: black;
	border-right: 1px solid black;

	font-size: 18px;
	line-height: 70px;
}

.members::-webkit-scrollbar {
	width: 12px;
}

.members::-webkit-scrollbar-track {
	background-color: #EEE;
}

.members::-webkit-scrollbar-thumb {
	background-color: #999;
}

.members::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

#chat {
	display: flex;
	overflow-y: auto;
	flex-direction: column-reverse;

	height: 400px;
	margin: 0 auto;

	list-style: none;

	font-family: Sidebar;
}

#chat::-webkit-scrollbar {
	width: 12px;
}

#chat::-webkit-scrollbar-track {
	background-color: #EEE;
}

#chat::-webkit-scrollbar-thumb {
	background-color: #999;
}

#chat::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}

.chatLog {
	display: flex;
	flex-direction: row;

	min-height: 50px;

	text-align: left;

	border: 1px solid black;
}

.user {
	display: block;

	width: 25%;
	height: auto;
	padding-top: 20px;

	text-align: center;

	border-right: 1px solid black;

	font-weight: bolder;
}

.message {
	display: block;

	width: 80%;
	height: 100%;
	padding-top: 10px;
	padding-left: 5px;

	font-size: 15px;
}

.messageInput {
	margin: 20px;
}

@media screen and (max-width:800px) {
	.user {
		width: 20%;
	}
}

@media screen and (max-width:1000px) {
	.inbox {
		position: relative;
		top: 0;
		right: 0;

		width: calc(100% - 10px);
		height: 140px;
	}
	
	.inbox:hover {
		height: 175px;
	}
	
	.veil {
		display: block;
	}
	
	.answers {
		width: 100%;
	}	
}

input[type=text] {
	display: inline-block;

	width: 85%;
	height: 30px;
	margin: 0 0 0 3vw;
	padding: 10px;
}

input[type=button] {
	display: inline-block;

	margin: 0;

	line-height: 30px;
}