.wrapper {
	flex-direction: row;

	flex-wrap: wrap;
}

.messageForm {
    display: block;

	margin-top: 30px;

}

.messagePart {
	width: 80%;
	margin-bottom: 30px;
	margin-left: 30px;

	border: 0;

	font-family: Quest;
	font-size: 22px;
}

input, textarea {
    width: 200px;
    padding: 10px;

    border: 1px solid gray;
	outline: 0;

	font-family: Quest;
	font-size: 18px;
}

textarea {
    width: 30vw;
    height: 150px;

    resize: none;

    line-height: 18px;
}

input[type=submit] {
	position: relative;
	top: 30px;

	display: block;

	margin: 0 auto;

	color: #fff;
	border: 0;	
	border-radius: 10px;
	background: rgb(148, 148, 148);

	font-family: SideBar;
	font-size: 20px;
	line-height: 40px;
}

input[type=submit]:hover {
	top:20px;

	color: #003f20;
	background: #34ff9c;
	box-shadow: 0px 10px 0px #00db6e;
}
input[type=submit]:active {
	top:30px;

	box-shadow: 0px 0px 0px #00db6e;
}

.map {
    display: block;

    width: 45%;	
    height: 30vw;	margin: 75px 70px 0 auto;	

    border: 1px solid gray;
}

@media screen and (max-width: 800px) {
    textarea,
    input {
        width: 95%;
    }
    .form {
        padding: 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;

        height: auto;
        padding: 0;
    }
    .map {
        display: block;

        width: 95%;
        height: 350px;
        margin: 0 auto;
    }
}