@font-face {
	font-family: MainText;

	src: url(../fonts/aspace_demo.otf);
}
@font-face {
	font-family: Text;

	src: url(../fonts/LLPIXEL3.ttf);
}
@font-face {
	font-family: Sidebar;

	src: url(../fonts/Kemco.ttf);
}
@font-face {
	font-family: Content;

	src: url(../fonts/VCR.ttf);
}

@font-face {
	font-family: Quest;

	src: url(../fonts/quest.ttf);
}

*:not(section) {
	margin: 0;
	padding:0;

	transition:
	opacity 0.5s,
	font-size 0.3s;
}
body {
	width: 100%;
	padding-top: 100px;

	background: #0073A5;
}
body::-webkit-scrollbar {
	width: 20px;
}
body::-webkit-scrollbar-thumb {
	background-color: #cccccc;
}
body::-webkit-scrollbar-track {
	background-color: #555;
}
header {
	position: fixed;
	z-index: 5;
	top: 0px;

	width: 100%;
	height: 60px;
	padding: 20px;

	background:#0073A5;

	font-family: Sidebar;
	/*#0073A5*/
}
.logo {
	display: inline-block;
	float: left;

	margin-right: 15px;
}
.header-title {
	position: relative;
	top: 10px;

	display: inline-block;

	color: #FFF;

	font-family: Sidebar;
	font-size: 5vw;
	line-height: 60px;
}
.nav {
	display: block;
	float: right;

	margin-right: 30px;

	list-style: none;
}
.nav li {
	display: inline-block;
}
.tab {
	position: relative;

	display: inline-block;

	min-width: 6vw;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 10px;

	text-align: center;
	text-decoration: none;

	color: white;
	border-radius: 5px;
	background-color: rgb(148, 148, 148);

	line-height: 40px;
}

#list .hidden {
	display: none;
}

.tab.hidden {
	display: none;
}

.logo {
	width: 60px;
	height: 60px;
}
/*------------------------------------------------------------------------------------ */

.mainFooter {
	position: relative;

	clear: both;

	width: 100%;
	height: 110px;

	letter-spacing: 2px;

	background-color: #0073A5;

	font-family: Text;
	font-weight: bold;
}
.flogo {
	display: inline-block;

	width: 70px;
	height: 70px;
	margin: 20px 15px 0px 25px;
}
.cpheader {
	position: absolute;
	top: 50px;

	display: inline-block;

	font-family: Text;
	font-size: 20px;
}
.contact-image {
	position: relative;
	top: 5px;

	display: inline-block;

	width: 25px;
	height: 25px;
}
.contacts {
	position: relative;

	display: inline-block;
	float: right;

	margin-top: 10px;
	margin-right: 100px;
}
.contacts ul {
	list-style: none;
}
.contacts h2 {
	display: block;
}
.contact-links {
	display: inline-block;

	text-decoration: none;

	color: #FFF;
}
/*------------  ANIMATIONS --------------*/

@media screen and (max-width:800px) {
	.header-title {
		font-size: 7vw;
	}

	.nav ul{
		position: relative;
		top: -20px;
		right: 250px;

		display: none;
		overflow: hidden;

		width: 300px;
	}

	.nav:active ul,
	.nav ul:hover,
	.nav ul.focus{
		display: block;
	}

	.nav ul li, .tab{
		display: block;

		width: 100%;
		margin: 0;

		border-bottom: 1px solid black;
		border-radius: 0;
		background-color: rgba(0, 115, 165, 0.5);
	}

	.tab {
		text-align: left;
	}

	.tab:hover {
		background-color: rgba(0, 171, 238, 0.75);
	}

	#list .hidden {
		display: inline-block;
	}

	.tab.hidden {
		display: block;
	}

	.nav {
		width: 7vw;
		height: 7vw;

		background:#ffffff url("../images/threelines.png") no-repeat center;
		background-size: contain;
	}

}

@media screen and (max-width:600px) {
	.nav {
		margin-top: 20px;
	}

	.mainFooter {
		height: 200px;
	}

	.top{
		display: inline-flex;
		flex-direction: column;

		flex-wrap: wrap;
		align-items: center;
	}

	.flogo {
		position: relative;
		top: 10px;

		display: block;

		margin: 0 auto;
	}

	.cpheader {
		position: relative;
		top: 15px;

		display: block;

		margin: 0 auto;

		text-align: center;
	}

	.contacts {
		position: absolute;
		bottom: 10px;

		width: 100%;
		margin-top: 10px;
	}

	.contacts h2 {
		text-align: center;
	}

	.contacts ul {
		position: relative;

		display: flex;
		flex-direction: row;

		width: 100%;

		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.contacts li {
		display: inline-block;

		margin: 0 10px;
	}
}
