@font-face {
   font-family: MainText;
   src: url(../fonts/aspace_demo.otf);
}

@font-face {
   font-family: Text;
   src: url(../fonts/Starjedi.ttf);
}

* {
   padding:0;
   margin: 0;
}

body {
   padding-top: 100px;
   width: 100%;
}

header {
   position: fixed;
   z-index: 5;
   top: 0px;
   width: 100%;
   height: 60px;
   padding: 20px;
   background:#0073A5;
   /*#0073A5*/
}

.logo {
   display: inline-block;
   float: left;
   margin-right: 15px;
}

.header-title {
   line-height: 60px;
   font-size: 5vw;
   position: relative;
   top: 10px;
   font-family: MainText;
   display: inline-block;
   color: #FFF;
}

.nav {
   margin-right: 30px;
   display: block;
   float: right;
   list-style: none;
}

.nav li {
   display: inline-block;
}

.tab {
   border-radius: 5px;
   background-color: rgb(148, 148, 148);
   color: white;
   line-height: 40px;
   margin-top: 10px;
   margin-right: 10px;
   text-align: center;
   display: inline-block;
   position: relative;
   min-width: 6vw;
   height: 6vh;
   text-decoration: none;
   padding: 0 10px;
}

.logo {
   height: 60px;
   width: 60px;
}

/*------------------------------------------------------------------------------------ */

footer {
   width: 100%;
   height: 110px;

   position: relative;
   bottom: 0px;

   background-color: #0073A5;
}

.flogo {
   display: inline-block;

   width: 70px;
   height: 70px;

   margin: 20px 15px 0px 25px;
}

.cpheader {
   font-family: MainText;
   position: absolute;
   top: 50px;
   font-size: 20px;
   display: inline-block;
}

.contact-image {
   width: 25px;
   height: 25px;

   position: relative;;
   top: 5px;
}

.contacts {
   margin-right: 100px;
   margin-top: 10px;
   float: right;
}

.contacts ul {
   list-style: none;
}

.contacts h2 {
   display: inline-block;
}

.contact-links {
   color: #FFF;
   text-decoration: none;
}


/*------------  ANIMATIONS --------------*/

.tab:hover {

}

@media screen and (max-width:800px) {
   .header-title {
      font-size: 7vw;
   }

   .nav ul {
      display: none;
   }
   .nav {
      width: 7vw;
      height: 7vw;
      background:#ffffff url("../images/threelines.png"); no-repeat: center;
      background-size: contain;
   }

   .nav:hover ul, .nav:active ul{
      width: 100px;
      display: block;

      position: relative;
      right: 6.5vw;
      top: 50px;
   }

   .nav:hover li {
      float: right;
   }
}
@media screen and (max-width:500px) {
   .nav {
      margin-top: 20px;
   }

}

   .nav:hover .tab {
      margin: 0px;
      width: 100px;
      border-radius: 0px;
      text-align: right;
   }
