.home-banner{
    width: 100%;
    height: 200px;
    background-image: url("../images/banner.jpg");
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
h1 {
    font-family: MainText;
    font-size: 30px;
}

#btn-home-join{
    font-family: MainText;
    border: 2px solid ghostwhite;
    background: #202833;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
#btn-home-join:hover {
    background: #16202E;
}

.right {
    margin: 20px;
    width: 450px;
}
.left {
    margin: 20px;
    width: 450px;
}

p {
    text-align: left;
}
h1 {
    text-align: center;
}

.scr {
    border: 2px solid lightslategray;
    border-radius:6px;
    display: block;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    background-image: url("../images/banner.jpg");
}
.scr:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.wrapper {
    min-width: 450px;
}