.home-banner {
		width: 100%;
		height: 30vh;
		display: block;
		background-image: url("../images/banner.jpg");
		background-position: 0% 30%;
		background-size: cover;
}

.content {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
}

.contentSect {
		margin-top: 20px;
		width: 400px;
}

.contentSect a, .contentSect a:visited {
		display: block;
		font-family: Quest;
		text-align: center;
		font-size: 30px;
		color: black;
		width: 100%;
}

.contentSect .caurocel {
		display: block;
		width: 100%;
		height: 300px;
		margin-top: 30px;
		background-image: url("../images/Logo.svg");
		background-size: contain;
}

.contentSect h1 {
		display: block;
		width: 100%;
		min-height: 50px;
		font-family: Quest;
		text-decoration: underline;
}
