.langName
{
    display: block;

    margin: 50px auto;
	margin-bottom: 30px;

    font-family: Quest;
    font-size: 30px;
	font-weight: bolder;
}

.devision {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding-bottom: 30px;

	border-bottom: 1px solid black;
}

.level {
	display: block;

	width: 100%;

	text-align: center;

	font-family: Sidebar;
	line-height: 50px;
}

.circleContainer {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	justify-content: space-around;
}

.devision:first-of-type .circle:first-child {
	background-image: url("../images/Baby.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.devision:first-of-type .circle:nth-child(2) {
	background-image: url("../images/Syntax.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.circle {
	display: block;

	width: 200px;
	height: 200px;
	margin: 30px;

	transition: background-color 0.4s;

	border-radius: 100px;
	background-color: rgb(0, 130, 29);
}

.circle:hover {
	background-color: rgb(0, 200, 62);
}
