.validate{
    /*color: red;*/
}

input[type="text"], input[type="password"], input[type="email"] {
    border: 0;
    border-bottom: 1px solid black;
    background-color: inherit;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
}
