.wrapper {
	position: relative;

    display: flex;
	float: right;
    flex-direction: column;

	width: 96%;
	min-height: 700px;

	background-color: white;
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 100%;
	}
}

.btn {
    padding: 10px 20px 10px 20px;

    text-decoration: none;

    color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    background:  #0073A5;

    font-family: MainText;
    font-size: 20px;
}

.btn:hover
{
    text-decoration: none;

    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.title
{
    padding-top: 20px;

    text-align: center;

    font-family: MainText;
}

hr {
    height: 1px;

    border: 0;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}