h2{
   margin-top: 40px;
   margin-bottom: 20px;

   text-align: center;

   font-family: Sidebar;
}

.section{
    display: flex;
    flex-direction: row;

	width: 100%;

	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.make-clan, .find-clan{
    display: block;

    width: 400px;
    margin: 20px 5px;
    padding: 20px;

    border: 1px solid black;

    font-family: Sidebar;}

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	display: flex;

	width: 90%;
	margin: 20px auto;

	border: none;
}

.fieldTitle {
	display: block;

	margin-bottom: 10px;

	text-align: center;
}

input[type=text] {
	display: block;

    width: 90%;
	margin: 0 auto;
}

#fileToUpload {
	min-width: 200px;
	margin: 0 auto;
}

input[type=submit]{
	position: relative;

    display: block;

    margin: 10px auto;
	padding: 10px 35px;

	font-family: Quest;
	line-height: 50px;}

textarea{
    resize: none;
}

.submit-btn{
    margin-top: 200px;
}

.find-section{
    margin-bottom: 40px;
}

.search_bar{
    margin: 0 auto;
}
