h2{
   margin-top: 20px;
   font-family: Sidebar;
   margin-bottom: 20px;
   text-align: center;

}

.section{
    display: flex;
    flex-direction: row;
    align-self: center;


}
@media screen and (max-width:1100px) {
    .section{
        flex-direction: column;
    }
}

h2{
    margin-top: 40px;

}

.make-clan{
    display: flex;
    flex-direction: column;
    margin-right: 5px;

}

.find-clan{

}

.make-clan, .find-clan{
    width: 400px;
    border: 1px solid black;
    display: block;
    margin-top: 20px;
    padding: 20px;
    font-family: Sidebar;


}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

form{
    margin-bottom: 20px;

}

.info{

}

input[type=submit]{
    display: block;
    margin: 0 auto ;

}

label{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

textarea{
    margin-bottom: 20px;
    resize: none;
}

.submit-btn{
    margin-top: 200px;
}
.find-section{
    margin-bottom: 40px;
}

.search_bar{
    margin: 0 auto;
}
