.Header{
   margin-top: 40px;
   margin-bottom: 20px;

   text-align: center;

   font-family: Sidebar;
}

.section{
    display: flex;
    flex-direction: row;

	width: 100%;

	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.make-clan, .find-clan{
    display: block;

    width: 400px;
    margin: 20px 5px;
    padding: 20px;

    border: 1px solid black;

    font-family: Sidebar;}

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	display: flex;
	flex-direction: column;

	width: 90%;
	margin: 20px auto;

	border: none;
}

.fieldTitle {
	display: block;

	margin-bottom: 10px;

	text-align: center;
}

input[type=text] {
	display: block;

    width: 90%;
	margin: 0 auto;

	text-align: center;
}

#fileToUpload {
	min-width: 200px;
	margin: 0 auto;
}

input[type=submit]{
	position: relative;

    display: block;

	height: 50px;
    margin: 10px auto;
	padding: 10px 35px;

	color: #FFF;
	border: 0;
	border-radius: 7px;
	background: rgb(148,148,148);

	font-family: Quest;
}

input[type=submit]:hover{
	color: #003f20;
	background: #34ff9c;
}

textarea{
	width: 100%;
	height: 90px;
	margin: 0 auto;

    resize: none;
}

.submit-btn{
	position: relative;
}

.find-section{
    margin-bottom: 40px;
}

.search_bar{
    margin: 0 auto;
}

.foundMatches {
	display: block;

	width: 90%;
	height: 300px;
	margin: 0 auto;
	margin-top: 15px;

	list-style: none;
}

.match {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 30px;
	padding: 0 0 0 15px;

	border-bottom: 1px solid black;

	line-height: 30px;

	justify-content: space-between;
}

.match:first-child{
	border-top: 1px solid black;
}

.match a, .match a:visited {
	width: 30%;

	text-align: center;
	text-decoration: none;

	color: #fff;
	background: rgb(148, 148, 148);
}

.match a:hover{
	color: #003f20;
	background: #34ff9c;
}

.message {
	display: block;

	margin: 20px auto;

	text-align: center;
}