$mainColor: #34ff9c
$shadowColor: #00db6e
$textColor: #003f20

@mixin centeredBlock($width) 
	display: block
	margin: $width auto

hr
	margin: 0px 0 30px 0
	height: 3px
	background: rgb(112, 112, 112)
	border-bottom: 1px solid black

.wrapper h2
	@include centeredBlock(10px)
	text-align: center
	font-size: 40px
	font-family: Quest
	text-transform: capitalize

.profileContainer
	display: block
	width: 100%
	background: url("../images/backgrounds/profile.png")
	background-size: cover
	background-attachment: fixed
	background-position: 50% 50%

.profile-pic
	display: flex
	overflow: hidden
	flex-direction: row
	width: 300px
	height: 300px
	margin: 0 auto
	border-radius: 50%
	justify-content: center
	
.profileDesc
	@include centeredBlock(0px)
	font-family: Quest
	font-size: 20px
	margin-bottom: 50px
	width: 90%
	resize: none
	
.Submit
	@include centeredBlock(15px)
	width: 200px
	padding: 10px 10px
	line-height: 50px
	font-family: Quest
	text-transform: uppercase
	border: none
	color: white
	background: rgb(148, 148, 148)
	border-radius: 5px
	position: relative
	top: -10px
	transition: box-shadow 0.5s, color 0.5s, background 0.5s
	&:hover
		color: $textColor
		background: $mainColor

.exception
	display: inline-block

.imageForm
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-around
	
	.Submit
		margin: 20px 0

.imgHeader
	@include centeredBlock(15px)
	font-family: Quest
	width: 100%
	text-align: center

#fileToUpload
	font-family: Quest

#fileToUpload::-webkit-file-upload-button
	position: relative
	top: -10px
	display: block
	width: 100%
	height: 70px
	margin-top: 20px
	font-family: Quest
	background: rgb(148, 148, 148)
	border-radius: 7px
	outline: 0
	border: 0
	font-size: 16px
	color: white
	transition: background 0.5s, color 0.5s
	&:hover
		color: $textColor
		background: $mainColor
		
.editInfoCont
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-around
	flex-wrap: wrap
	margin-bottom: 40px
	
	form
		min-width: 400px
		width: calc(50% - 2px)
		
		fieldset
			@include centeredBlock(0px)
			border: 0
			
			.field
				@include centeredBlock(0px)
				width: 85%
				font-family: Quest
				text-align: center
				height: 25px
				border: 2px solid black
				margin-bottom: 15px
				outline: 0
				font-size: 18px