.sidebar{
   display: block;
   float: left;

   width: 20%;
   min-height: 600px;
   padding-bottom: 20px;

   text-align: left;

   background-color:#0073A5;

   font-family: Sidebar;
}

.sidebar_container {
   width: 100%;

   list-style: none;
}

.sidebar_container li {
   padding-left: 20px;

	transition: background-color 0.5s;

   border-bottom: 1px solid #3cb0fd;
}

.sidebar_container li:hover{
   background-color: #3cb0fd;
}

.link {
   display: block;

   width: 100%;

   text-decoration: none;
   text-transform: uppercase;

   color: white;

   line-height: 40px;
}

.link li {
   width: 100%;
}

@media screen and (max-width:800px) {
	.sidebar {
		display: none;
	}

	.sidebar {
		width: 150px;
	}

    .link {
 	   line-height: 30px;
    }
}
