.sidebar{
   font-family: MainText;
   width: 20%;
   display: block;
   background-color:#0073A5;
   float: left;
   text-align: left;
   padding-bottom: 20px;
}

.sidebar_container {
   width: 100%;
   list-style: none;
}

.sidebar_container li {
   padding-left: 20px;
   border-bottom: 1px solid #3cb0fd;
}

.sidebar_container li:hover{
   background-color: #3cb0fd;
}

.link {
   display: block;
   text-transform: uppercase;
   height: 40px;
   width: 100%;
   line-height: 40px;
   color: white;
   text-decoration: none;
}

.link li {
   width: 100%;
}

@media screen and (max-width: 600px){
   .sidebar {
      display: none;
   }
}
